.home .wp-block-post-content {
	position: relative;
	z-index: 1;
}

.pm-post .entry-content.wp-block-post-content p {
	text-align: left;
	font-style: italic;
}

@media (max-width: 60rem) {

	.entry-content.wp-block-post-content {
		padding: unset!important;
	}
}