.pm-post {
	.wp-block-post-content {
		font-style: italic;
	}

	.has-text-align-left { text-align: left!important }
	.wp-block-pm-meta-fetcher { margin: 0 }


	.pm-year-btn a {
		text-decoration: none;
		pointer-events: none	
	}

	.pm-year-btn a:hover {
		cursor: pointer;
	}

	.wp-block-post-featured-image { margin: 0 }

	.info-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.pm-info__top {
			position: relative;

			.wp-block-pm-year-filter {
				position: absolute;
				left: 0rem;
				width: 15rem;
				top: 7rem;
				background: var(--wp--preset--color--base);
			}
		}
	}

}

.pm-year-btn.has-750-font-size {
	font-size: 5em!important;
}

.wp-block-pm-year-filter {
	padding: 0;
	list-style-type: none;
	border-top: 1px solid var(--wp--preset--color--base-darker);
	border-bottom: 1px solid var(--wp--preset--color--base-darker);
	height: 10rem;
	overflow-y: scroll;
	font-size: var(--wp--preset--font-size--750);
	li {
		text-align: center;
	}
}


.pm-publisher a {
	text-decoration: none;
	pointer-events: none
};

.pm-publisher a::before {
	content: '/';
	margin-left: 1rem;
	margin-right: .25rem;
	display: inline-block;
	margin-top:1rem;
}