.pm-post {
	.wp-block-post-content {
		font-style: italic;
	}

	.has-text-align-left { text-align: left!important }
	.wp-block-pm-meta-fetcher { margin: 0 }


	.pm-year-btn a {
		text-decoration: none;
		pointer-events: none	
	}

	.btn--open {
		&::after {
			transform: rotate(180deg);


		}
	}
	.pm-year-btn {

		a:hover {
			cursor: pointer;
		}

		display: flex;
		gap: 2rem;



		&::after {
			transition: transform .1s ease-in-out;
			content: '';
			display: block;
			aspect-ratio: 1;
			width: 5rem;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg width='1237' height='642' viewBox='0 0 1237 642' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.903 30.0005L618.501 599.751L1206.1 30.0004' stroke='%23FF0A0A' stroke-width='60' stroke-linecap='round'/%3E%3C/svg%3E");
		}

		@media (max-width: 60rem) {
			a {

				font-size: 4rem;
			}

			&::after {
				width: 3rem;
			}
		}
	}

	.pm-year-filter-item:hover {
		color: var(--wp--preset--color--primary);
		cursor: pointer;
	}

	.wp-block-post-featured-image { margin: 0 }

	.info-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.pm-info__top {
			position: relative;

			.wp-block-pm-year-filter {
				position: absolute;
				left: 0rem;
				width: 15rem;
				top: 6rem;
				margin: 0;
				background: var(--wp--preset--color--base);
			}
		}
	}

}

.pm-year-btn.has-750-font-size {
	font-size: 5em!important;
}

.wp-block-pm-year-filter {
	padding: 0;
	list-style-type: none;
	border-top: 1px solid var(--wp--preset--color--base-darker);
	border-bottom: 1px solid var(--wp--preset--color--base-darker);
	height: 10rem;
	overflow-y: scroll;
	font-size: var(--wp--preset--font-size--750);
	li {
		text-align: center;
	}
}


.pm-publisher a {
	text-decoration: none;
	pointer-events: none
};

.pm-publisher a::before {
	content: '/';
	margin-left: 1rem;
	margin-right: .25rem;
	display: inline-block;
	margin-top:1rem;
}